.tag {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 0.75rem;
  border-radius: 1.25rem;
  font-family: var(--font-roboto), serif;
  font-size: 0.75rem;
  font-variation-settings:
    'wght' 400,
    'wdth' 100;
  color: var(--color-text);
  background-color: var(--color-tag-default, #f0f0f0);
  user-select: none;
  block-size: 2rem;
  max-width: 100%;

  span {
    white-space: nowrap;
    max-width: 100%;
    min-width: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.type-business {
  background-color: var(--color-tag-business);
}
.type-creation {
  background-color: var(--color-tag-creation);
}
.type-langs {
  background-color: var(--color-tag-langs);
}
.type-education {
  background-color: var(--color-tag-education);
}
.type-home {
  background-color: var(--color-tag-home);
}
.type-health {
  background-color: var(--color-tag-health);
}
.type-plus {
  background-color: var(--color-tag-plus);
}
