.skillCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 52px 40px 52px;
  width: 1020px;
  height: 444px;
  background: var(--color-card);
  border: 2px solid var(--color-card);
  border-radius: 12px;
  position: relative;
}

// Кнопки лайка/шаринга
.buttonBlock {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  padding: 10px;
  gap: 0 4px;
  width: 933px;
  height: 24px;
  top: 44px;
}

.likeButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
}

.iconActive {
  color: var(--color-accent); // Активный цвет для stroke
}

.shareButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.moreIcon {
  width: 24px;
  height: 24px;
  fill: var(--color-caption);
  transition: fill 0.2s ease;

  &:hover {
    fill: var(--color-text);
  }
}

// Основной контент
.descriptionBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 77px;
  width: 100%;
  height: 100%;
  padding-top: 48px;
}

.descriptionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 399px;
  height: 100%;
}

.skillDescription {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skillName {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: -0.011em;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

.metaInfo {
  width: 239px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-caption);
  padding-bottom: 20px;
  margin-top: 4px;
  margin-bottom: 0;
}

.category,
.subcategory {
  font-weight: 500;
}

.divider {
  opacity: 0.6;
}

.description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-text);
  margin: 0;

  overflow-y: auto;
  max-height: 168px;
  width: 100%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 399px;
  height: 48px;
}

.exchangeButton {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
}
