.container {
  padding: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2.5rem;
  margin: 0 auto;
  background-color: var(--color-background);
}

.image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-inline-size: 28.75rem;

  .title {
    margin: 0;
    font-family: var(--font-jost), serif;
    font-size: 1.5rem;
    font-variation-settings: 'wght' 500;
    color: var(--color-text);
  }

  .message {
    margin: 0;
    font-family: var(--font-roboto), serif;
    font-size: 1rem;
    font-variation-settings:
      'wght' 400,
      'wdth' 100;
    color: var(--color-text);
  }
}

.actions {
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
  justify-content: center;
}
