@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-VariableFont.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
  font-variation-settings: 'wght' 400;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-VariableFont.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}
