.upload {
  width: 100%;
  border: 1px dashed var(--color-caption);
  border-radius: 0.75rem;
  padding: 1.25rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.dropArea {
  padding: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  background-color: var(--color-card);
}

.dragging {
  background-color: var(--color-accent);
  border-radius: 0.75rem;
}

.withFile {
  min-height: auto;
}

.placeholder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: var(--font-roboto), sans-serif;
  font-variation-settings:
    'wght' 400,
    'wdth' 100;
  max-width: 100%;
}

.text {
  color: var(--color-caption);
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: var(--color-text-link);
  text-decoration: none;
  cursor: pointer;
}

.previewWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.imagePreview {
  max-width: 90%;
  max-height: 56px;
  object-fit: contain;
}

.fileInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.fileName {
  font-size: 1rem;
  font-family: var(--font-roboto), sans-serif;
  font-variation-settings:
    'wght' 400,
    'wdth' 100;
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.removeButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--color-text);
}
