.centerToast {
  position: fixed;
  bottom: 24px;
  left: 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  z-index: 9999;
}

.centerInline {
  position: static;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.fadeIn {
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
