.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  display: block;
  font-size: 1rem;
  color: var(--color-text);
  font-family: var(--font-roboto), sans-serif;
  font-variation-settings:
    'wght' 400,
    'wdth' 100;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-caption);
  border-radius: 0.75rem;
  padding: 0 1.125rem;
  background-color: var(--color-card);
  cursor: pointer;
  transition: border-color 0.2s;
  height: 3rem;
  font-size: 1rem;
  color: var(--color-caption);
  font-family: var(--font-roboto), sans-serif;
  font-variation-settings:
    'wght' 400,
    'wdth' 100;
  z-index: 2;

  &.hasValue {
    color: var(--color-text);
  }

  &.isOpen {
    z-index: 4;
  }
}

.menu {
  position: absolute;
  top: 23px;
  left: 0;
  right: 0;
  padding: 3.5rem 0.25rem 0.75rem 0.75rem;
  background: var(--color-card);
  border: 1px solid var(--color-caption);
  border-radius: 0.75rem;
  max-height: 15rem;

  &.isOpen {
    z-index: 3;
  }
}

.menu__container {
  max-height: 11.4rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-disabled);
    border-radius: 0.5rem;
    min-height: 2.5rem;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.item {
}
