.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.center {
  align-items: center;
  text-align: center;
}

.left {
  align-items: flex-start;
  text-align: left;
}

.right {
  align-items: flex-end;
  text-align: right;
}

.normal .imageWrapper {
  margin-bottom: 40px;
}

.normal .title {
  margin-bottom: 12px;
}

.compact .imageWrapper {
  margin-bottom: 20px;
}

.compact .title {
  margin-bottom: 8px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title {
  color: var(--color-text);
  font-weight: 500;
}

.description {
  color: var(--color-text);
  font-weight: 400;
}
