.overlay {
  position: fixed;
  inset: 0;
  z-index: 300;
  background: transparent;
}

.popup {
  position: absolute;

  background: var(--color-card);
  border: 1px solid var(--color-toggle);
  border-radius: 24px;
  padding: 3.75rem;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  max-height: calc(100vh - 32px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 34.75rem;
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.sectionAction {
  color: var(--color-accent);
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.sectionAction:disabled {
  opacity: 0.5;
  cursor: default;
}

.empty {
  color: var(--color-text-secondary);
}

.newWrapper,
.readWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}