.textArea {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  padding-right: 0.25rem;
}

.label {
  font-size: 1rem;
  color: var(--color-text);
  font-family: var(--font-roboto), sans-serif;
  font-variation-settings:
    'wght' 400,
    'wdth' 100;
}

.input {
  padding: 0.75rem 1.25rem;
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-caption);
  border-radius: 0.75rem;
  transition: border-color 0.2s ease;
  min-height: 3rem;
  font-size: 1rem;
  font-family: var(--font-roboto), sans-serif;
  font-variation-settings:
    'wght' 400,
    'wdth' 100;
  outline: none;
  resize: none;
  background-color: var(--color-input);
  color: var(--color-text);

  &::placeholder {
    color: var(--color-caption);
  }

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-disabled);
    border-radius: 0.5rem;
    min-height: 2.5rem;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &.error {
    border-color: #ff4d4f;
  }
}

.errorText {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: 2px;
}
